:root
{
  --background-color: #282828;
  --foreground-color: #1e1e1e;
  --main-text-color: white;
  --subtext-color: #eae2e2;
}

[data-theme="light"]
{
  --background-color: #ede9da;
  --foreground-color: #d9cbcb;
  --main-text-color: black;
  --subtext-color: #1e1e1e;

}

.App {
  text-align: left;
}

.listItem
{
  height: fit-content;
  border-radius: 10px;
  background-color: var(--foreground-color);

}

.listItem .content
{
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.2s;
}
.listItem.dropped .content
{
  max-height: 40vh;
  transition: max-height 0.2s;

}

.listItem .heading
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
}

.heading .dropped
{
  background-color: transparent;
  border: none;

  transform: rotateZ(180deg);
  transition: transform ease 0.2s;
}
.heading .up
{
  background-color: transparent;
  border: none;
  transform: rotateZ(0deg);
  transition: transform ease 0.2s;

}

.listItem img
{
  float: left;
  paddingInline: 1vw;
  height: 3rem;
  margin-top: auto;
  margin-bottom: auto;
}

body
{
  background-color: var(--background-color);
}

#content
{
  margin-left: 10vw;
  margin-right: 10vw;
}

h1
{
  font-size: 4rem;
}

h2
{
  font-size: 3rem;
}

h1, h2, h3{
  color: var(--main-text-color);
}

p{
  color: var(--subtext-color);
}



